In [3]:
import pandas as pd
import numpy as np

In [16]:
df = pd.DataFrame(np.array([[1, 2, 3,'a'], [4, 5, 6,'a'], [7, 8, 9,'b']]), columns=['a', 'b', 'c','month'])
df

   a  b  c month
0  1  2  3     a
1  4  5  6     a
2  7  8  9     b

In [19]:
df = df.set_index('month')
df

       a  b  c
month
a      1  2  3
a      4  5  6
b      7  8  9

In [24]:
df['a'].groupby('month').rank("a",ascending=False)

TypeError: 'NoneType' object is not callable